img {
  width: 600px;
}
p {
font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;
}
h1 {
  text-decoration: underline overline;
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
}
h2{
  font-family: 'Margarine', cursive;
  margin: 20px 0;
  font-size: 40px;
}
h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 40px;
}
.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #F87B99;
}
.container {
  margin: 0 auto;
  width: 600px;
}
@keyframes buttonAnimation{
  20% {background-color: #EE6AD6;}
  40% {background-color: #F589E1;}
  60% {background-color: #FB9EEA;}
  80% {background-color: #F9BEEF;}
  100%{background-color: #F9E7F6;}
}
.container header nav a:hover {
  background: white;
  color: pink;
  animation-name: buttonAnimation;
  animation-duration: 1.1s;
}
footer {
  width: 100%;
  background: #F87B99;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  /*======= create a width property. Set the value to 600px */
  width: 600px;
  
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

/*======= Create a selector for the anchor tag in the footer to have the following styles:*/
footer a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}


footer nav a:first-child {
  margin-left: 0;
}

/*======= Create a hover state for the anchor tag in the footer nav to have the following styles:*/
footer nav a:hover{
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
   /*======= center the text here */
  text-align: center;
}